@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}

p{
  font-family:Roboto ,sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family:'Bubblegum Sans',cursive;
}

.b-red{
  border: 2px solid #E84B3A;
}
.b-yellow{

  border: 2px solid #FFC000;
}
.b-orange{
  border: 2px solid #FC7F0C;
}
.f-s-14{
  font-size:14px;
}
.f-s-16{
  font-size:16px;
}
.f-s-20{
  font-size:20px;
}
.f-s-36{
  font-size:36px;
}
.f-s-40{
  font-size:40px;
}
.f-s-46{
  font-size:46px;
}
.text-red{

  color:#E84B3A;
}
.text-yellow{

  color:#FFC000;
}
.text-orange{
  color:#FC7F0C;
}
.text-purple{
  color:#92278F;
}
.text-lightblue{
  color:#22BBF1;
}
.text-pink{
  color:#EE257C;
}
.text-green{
  color:#8DC63F;
}
.text-brown{
  color:#A40202;
}


.bg-red{

  background-color:#E84B3A;
}
.bg-yellow{

  background-color:#FFC000;
}
.bg-orange{
  background-color:#FC7F0C;
}
.bg-purple{
  background-color:#92278F;
}
.bg-lightblue{
  background-color:#22BBF1;
}
.bg-pink{
  background-color:#EE257C;
}
.bg-green{
  background-color:#8DC63F;
}
.bg-brown{
 background-color:#A40202;
}
.bg-blue{
  background-color:#365899;
}
.bg-white{
  background-color:white;
}